@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; 
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

  background-color: black;
  color: #FAF9F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking-cursor {
  margin-left: 2px !important;
  animation: blink 1s step-start infinite !important;
}
